body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    display: flex; /* Added flex display */
    justify-content: space-around; /* Distribute buttons evenly */
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0078d4;
}

footer {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.button {
    display: flex;
    flex-direction: column; /* Ensure buttons' content is stacked vertically */
    background-color: #F0FFFF;
    background-image: linear-gradient(to bottom, #0078d4, #005a9e); /* Gradient background */
    color: white; /* Make text visible */
    padding: 12px 24px; /* Slightly larger padding */
    text-decoration: none;
    border-radius: 12px; /* More rounded corners */
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make font bold */
}

.button:hover {
    background-color: #7FF000;
    background-image: linear-gradient(to bottom, #006bb3, #004a86); /* Hover gradient */
    transform: translateY(-2px); /* Slight lift effect */
}
