body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    display: flex; /* Added flex display */
    justify-content: space-around; /* Distribute buttons evenly */
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0078d4;
}

footer {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.button {
    display: flex; /* Changed to flex for container flexibility */
    flex-direction: column; /* Stack text vertically */
    background-color: #0078d4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #005a9e;
}
